.form-container {
    width: 40%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color:gray;
    height: 70vh;
    border-color:cadetblue;
    font-size:large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.5rem;
}

input {
    margin-bottom: 0.5rem;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.centered-text{
    
    text-align: center;
        margin: 0 auto;
}