/*stting up page styles for hero image of home page*/
.mask{
    width: 100%;
    height: 50vh;
    position: relative;
}
/* background image setting for home page*/
.into-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position:center;
    object-fit: cover;
}
/* for setting black background in homepage*/
.mask::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;

}
/*setting up buttons to fit the centre of hero image*/
.hero {
    width: 100%;
    height: 20%;
}

.hero.content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

/* style for heading padding for top right bottom */ 
.hero.content h1{
    font-size: 4rem;
    padding: 0.6rem 2rem 1.5rem;
    text-align: center;
}

/*style setting for paragraph in home page*/
.hero.content p {
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase; 
    text-align: center;
}

/*set space between buttons */
.content .btn {
    margin: 1rem 0.2rem;
    text-align: center;
}

/*setup for mobile screen*/
@media screen and (max-width: 640px) {
    .hero.content h1 {
        font-size: 3rem;            
        }
    .hero.content p {
        font-size: 1.4rem;
        }
}
